{
  "customSyntax": "postcss-less",
  "extends": ["stylelint-config-standard", "stylelint-config-css-modules", "stylelint-config-prettier"],
  "plugins": ["stylelint-order", "stylelint-declaration-block-no-ignored-properties"],
  "rules": {
    "declaration-empty-line-before": null,
    "no-descending-specificity": null,
    "selector-pseudo-class-no-unknown": null,
    "selector-pseudo-element-colon-notation": null,
    "property-no-unknown": [true, { "ignoreProperties": ["line-width"] }],
    "font-family-no-missing-generic-family-keyword": null,
    "function-name-case": null,
    "value-keyword-case": null,
    "declaration-bang-space-before": null,
    "custom-property-empty-line-before": null,
    "declaration-bang-space-after": null,
    "unit-no-unknown": null,
    "rule-empty-line-before": null,
    "selector-class-pattern": null,
    "alpha-value-notation": null,
    "declaration-no-important": null,
    "declaration-property-value-disallowed-list": null,
    "shorthand-property-no-redundant-values": null,
    "color-function-notation": null,
    "property-no-vendor-prefix": null,
    "function-url-quotes": null,
    "font-family-name-quotes": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "selector-max-id": null,
    "selector-id-pattern": null,
    "value-no-vendor-prefix": null,
    "order/properties-order": null
  }
}
